@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
}
:root {
  --red: #d01c28;
  --gray: #2e2e2e;
}
body {
  font-family: "Poppins", sans-serif;
}
button {
  all: unset;
  padding: 6px 16px;
  background: var(--red);
  height: 32px;
  color: whitesmoke;
  font-weight: 600;
  cursor: pointer;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 72px;
  max-width: 1150px;
  margin: 0 auto;
  align-items: center;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
  font-weight: 500;
  cursor: pointer;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px;
  height: calc(100vh - 72px);
}
.hero-content {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.hero h1 {
  font-weight: 800;
  line-height: 75px;
  font-size: 70px;
}
.hero p {
  font-weight: 600;
  color: var(--gray);
  max-width: 390px;
}
.hero-btn {
  display: flex;
  gap: 40px;
}
.hero-btn button {
  font-size: 18px;
}
.s-btn {
  background-color: transparent;
  color: var(--gray);
  border: 1px solid gray;
}
.shopping p {
  font-size: 14px;
  margin-bottom: 10px;
}
.brand-icons {
  display: flex;
  gap: 10px;
}
